<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
    <a class="tag code quality mx-auto" href="{{ site.baseUrl }}tag/code quality">code quality</a>
    <a class="tag csharp mx-auto" href="{{ site.baseUrl }}tag/csharp">csharp</a>
    <a class="tag javascript mx-auto" href="{{ site.baseUrl }}tag/javascript">javascript</a>
    <a class="tag react mx-auto" href="{{ site.baseUrl }}tag/react">react</a>
    <a class="tag typescript mx-auto" href="{{ site.baseUrl }}tag/typescript">typescript</a>
    <a class="tag database mx-auto" href="{{ site.baseUrl }}tag/database">database</a>
    <a class="tag opinion mx-auto" href="{{ site.baseUrl }}tag/opinion">opinion</a>
    <a class="tag castle-windsor mx-auto" href="{{ site.baseUrl }}tag/castle-windsor">castle-windsor</a>
</div>
