/* Font (see https://fonts.google.com) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;0,700;1,500;1,700&display=swap');

/* Prism Code Highlighting Theme (see https://prismjs.com) */
@import url('rose-pine.css');

:not(pre) > code[class*='language-'] {
  /* Fixes issue where theme removes indentation. */
  white-space: pre;
}

html,
body {
  @apply antialiased;
  color: rgb(224, 222, 244);
  background: rgb(57, 53, 82);
  font-family: 'Open Sans', sans-serif;
}
.site-description {
  color: rgb(196, 167, 231);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', cursive;
  font-style: italic;
  @apply font-bold leading-tight mt-5 mb-2;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
a {
  color: rgb(224, 222, 244);
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

a {
  @apply font-bold;
}

a:hover {
  @apply underline;
}

p {
  @apply my-2;
}

pre {
  @apply my-2 text-sm tracking-wider break-words;
  border-radius: 20px;
}

hr {
  @apply mt-4 mb-2 border-dotted border-b border-gray-300;
}

.toc {
  @apply content;
}

.toc > ol {
  @apply mt-2;
}

.toc > ol > li {
  font-size: 1em;
}

.attribution {
  @apply text-right -mt-8 text-sm;
}

.attribution::before {
  content: '— ';
}

.content > blockquote {
  border-left: 4px solid #c4a7e7;
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  background-color: rgb(57, 53, 82);
}

.content > img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 100%;
  min-width: 100px;
}

.content > ul {
  list-style-type: disc;
}

.content > ol {
  list-style-type: decimal;
}

.content > ol > li,
.content > ul > li {
  @apply mr-12 ml-12 pr-2 pl-2;
}

.content > p {
  @apply pt-3;
}

.excerpt {
  @apply my-3;
}

.next-page,
.previous-page,
.first-page,
.last-page {
  @apply font-bold whitespace-nowrap text-center;
}

.next-page::after {
  content: ' ►';
}

.previous-page::before {
  content: '◄ ';
}

.first-page::before {
  content: '| ';
}

.last-page::after {
  content: ' |';
}

.created-date {
  @apply text-sm;
}

footer {
  background-color: rgb(35, 33, 54);
}

@font-face {
  font-family: 'MonoLisa';
  src: url('/fonts/MonoLisa-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MonoLisa';
  src: url('/fonts/MonoLisa-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'],
code {
  /* background: #011627 !important; */
  /* line-height: 1.4 !important; */
  font-size: 0.935rem;
  font-family: MonoLisa, Monaco, 'DejaVu Sans Mono', 'Lucida Console',
    monospace;
  font-feature-settings: 'ss02';
  font-display: swap;
  @apply mt-4 mb-4;
}
